@media screen and (max-width: 1250px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 540px) {
  .container {
    padding: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 1020px) {
  .header .container {
    padding: 0;
  }
  .header .container .nav-header {
    position: relative;
  }
  .header .container .nav-header .brand {
    margin-left: 20px;
    gap: 5px;
  }
  .header .container .nav-header .brand .logo {
    width: 150px;
  }
  .header .container .nav-header .brand h1 {
    font-size: 16px;
  }
  .header .container .nav-header .nav-menu {
    transition: linear 0.23s;
    display: none;
    position: absolute;
    top: 85px;
    right: 0;
    left: 0;
    background-color: white;
    height: 100vh;
  }
  .header .container .nav-header .nav-menu .links {
    flex-direction: column;
    padding-top: 50px;
  }
  .header .container .nav-header .nav-toggle {
    margin-right: 20px;
    display: block;
    cursor: pointer;
  }
  .header .container .nav-header .nav-fixed {
    position: fixed;
    display: grid;
    place-content: center;
    visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: rgba(52, 98, 226, 0.6509803922);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .header .container .nav-header .nav-fixed a {
    color: #4565af;
  }
  .header .container .nav-header .nav-fixed .fixed-nav-links {
    background-color: #f6f9fe;
    border-radius: 10px;
    width: 90vw;
    padding: 20px 10px;
  }
  .header .container .nav-header .nav-fixed .fixed-nav-links .link {
    padding: 1rem;
  }
  .header .container .nav-header .nav-fixed .fixed-nav-links .contact-btn {
    background-color: #4565af;
    color: #f6f9fe;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 40vw;
    border-radius: 10px;
    padding: 10px 25px;
  }
  .header .container .nav-header .nav-fixed .fixed-nav-links .contact-btn a {
    color: #f6f9fe;
  }
  .header .container .nav-header .nav-fixed .fixed-nav-links .contact-btn img {
    width: 30px;
    height: 30px;
  }
  .header .container .nav-header .nav-close-btn {
    margin-right: 20px;
    display: none;
    position: relative;
    cursor: pointer;
  }
}
@media screen and (max-width: 1047px) {
  .footer .container .col {
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 540px) {
  .hero {
    text-align: center;
    padding-top: 250px;
    height: 855px;
  }
  .hero .hero-btns {
    flex-direction: column;
  }
  .services-section {
    margin-top: -25px;
  }
  .services-section .container .row {
    flex-direction: column;
    gap: 60px;
  }
  .services-section .container .row .col {
    width: 100%;
    justify-content: center;
  }
  .about .container .col .row {
    flex-direction: column;
  }
  .about .container .col .row .about-description {
    width: 100%;
    padding: 0 30px 30px 30px;
  }
  .about .container .col .row .about-img img {
    width: 350px;
  }
  .about .container .col .row-reverse {
    flex-direction: column-reverse;
    padding-left: 0;
  }
  .about .container .col .row-not-reverse {
    padding-right: 0;
  }
  .partnership {
    padding: 0;
  }
  .partners .container .row {
    grid-template-columns: 33% 33%;
  }
  .testimonials {
    display: none;
    padding: 50px 0;
  }
  .testimonials .container .slider-container .slider {
    flex-direction: column;
  }
  .testimonials .container .slider-container .slider .card {
    width: 100%;
  }
  .contacts .container .col {
    flex-direction: column;
  }
  .contacts .container .col .row {
    width: 100%;
  }
  .contacts .container .col .row .col-1 {
    flex-direction: column;
    width: 100%;
  }
  .contacts .container .col .row .col-1 .row-1 {
    width: 100%;
    height: auto;
    padding: 30px;
  }
  .contacts .container .col .row {
    width: 100%;
  }
  .contacts .container .location {
    flex-direction: column;
  }
  .contacts .container .location .row {
    width: 100%;
  }
  .contacts .container .location .row img {
    border-radius: 10px 10px 0 0;
  }
  .contacts .container .location .map {
    width: 100%;
    margin-top: 0;
  }
  .contacts .container .location .map iframe {
    border-radius: 0 0 10px 10px;
    width: 100%;
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .about .container .col .about-description {
    padding: 24px 0;
  }
}
@media screen and (max-width: 928px) {
  .services-section {
    margin-top: -90px;
  }
  .services-section .container .row {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    row-gap: 20px;
  }
  .services-section .container .row .col {
    flex-direction: column;
    padding: 20px;
    width: auto;
    height: auto;
    margin: 0;
  }
}
@media screen and (max-width: 1096px) {
  .services-details .container .col {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 810px) {
  .contacts .container .location {
    display: flex;
    flex-direction: column;
  }
  .contacts .container .location .map iframe {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .navbar {
    padding: 0 20px;
  }
  .blog-page-header {
    padding: 50px 0;
  }
  .blog-page-header .container .col img {
    height: 120px;
  }
  .blogs {
    padding: 0;
    padding-bottom: 50px;
  }
  .blogs .container {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
  }
  .blogs .container a .blog {
    width: 100%;
    border-radius: 10px;
  }
  .blogs .container a .blog img {
    border-radius: 10px;
  }
  .blogs .container a .blog .blog-summary p {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .blogs .container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 540px) {
  .description .container .row {
    flex-direction: column;
  }
  .description .container .row .col {
    width: 100%;
  }
  .description .container .row .col-description img {
    width: 100%;
  }
  .mission {
    padding-top: 0;
  }
  .mission .container .row {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .mission .container .row .col {
    width: 100%;
  }
  .our-team .team-bios .overlay {
    padding: 0 20px;
  }
  .our-team .team-bios .overlay .popup {
    width: 100%;
  }
  .our-team .container {
    display: grid;
    flex-wrap: wrap;
  }
  .our-team .container .row {
    display: grid;
    place-items: center;
  }
  .our-team .container .row .col {
    width: 100%;
  }
}
@media screen and (max-width: 940px) {
  .description .container .row {
    flex-direction: column;
  }
  .description .container .row .col {
    width: 100%;
  }
  .description .container .row .col-description img {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .section-header {
    display: none;
  }
  .service-content {
    padding: 50px 0;
  }
  .service-content .container {
    flex-direction: column-reverse;
  }
  .service-content .container .col {
    width: 100%;
  }
}
@media screen and (max-width: 740px) {
  .blog-header {
    padding-top: 20px;
  }
  .blog-header .container {
    flex-direction: column-reverse;
  }
  .blog-header .container .col .blog-title {
    font-size: 24px;
  }
  .blog-header .container .col .meta .meta-item a {
    gap: 5px;
  }
  .blog-header .container .col .meta .meta-item a img {
    width: 22px;
  }
  .blog-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .blog-content .container {
    flex-direction: column;
  }
  .blog-content .container .content {
    width: 100%;
  }
  .blog-content .container .side-bar {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .coming-soon .container {
    padding: 0;
  }
  .coming-soon .container .row .col-1 {
    display: none;
  }
  .coming-soon .container .row .col-2 {
    width: 100%;
    height: 100vh;
    padding: 30px;
    text-align: center;
    place-items: center;
    place-content: center;
  }
  .coming-soon .container .row .col-2 .logo {
    display: block;
    width: 150px;
  }
}/*# sourceMappingURL=mobile.css.map */