$primary-color: #4565af;
$primary-color-fade: #e5eafb;
$whitesmoke: #f6f9fe;
$tex-color: #3d3d3d;
$border-radius: 10px;


//CUSTOM CLASSES

@media screen and (max-width:1250px) {
  .container {
    padding: 0 50px;
  }
}

@media screen and (max-width:540px) {
  .container {
    padding: 20px;
    width: 100%;
  }

  .heading {
    font-size: 32px;
  }

  .hero-heading {
    font-size: 45px;
  }

  .form {
    .half {
      width: 100%;
    }
  }
}

@media screen and (max-width: 580px) {
  .container {
    padding: 20px;
    width: 100%;
  }

  .page-intro {
    background-position: center;
  }

  //Contact

  .contacts {
    .container {
      .col {
        flex-direction: column;

        .row {
          width: 100%;

          .col-1 {
            flex-direction: column;
            width: 100%;

            .row-1 {
              width: 100%;
              height: auto;
              padding: 30px;
            }
          }
        }

        .row {
          width: 100%;
        }
      }

      .location {
        flex-direction: column;

        .row {
          width: 100%;

          img {
            border-radius: $border-radius $border-radius 0 0;
          }
        }

        .map {
          width: 100%;
          margin-top: 0;

          iframe {
            border-radius: 0 0 $border-radius $border-radius;
            width: 100%;
            top: 0;
          }
        }
      }
    }
  }
}