* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 19.24px;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: auto;
}

a {
  text-decoration: none;
}

h6 {
  color: #2A2D7C;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

h1 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 66px;
  color: #2A2D7C;
}

p {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  color: #292929;
  flex: none;
}

.btn-blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11.2095px 23.3531px;
  gap: 4.67px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18.6825px;
  line-height: 22px;
  background-color: #2A2D7C;
  color: white;
  border: 0.934123px solid rgba(52, 97, 226, 0.2);
  box-shadow: 0px 7.47298px 14.0118px rgba(52, 97, 226, 0.28);
  border-radius: 9.34123px;
}

body .hero-portfolio .container .col-text-hero {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 24px;
  width: 50, 1%;
  height: auto;
}
body .hero-portfolio .container .col-text-hero .btn-blue {
  background-color: #2A2D7C;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18.6825px;
  line-height: 22px;
  padding: 12px 24px;
  color: #F6F9FE;
  border: 0.934123px solid rgba(52, 97, 226, 0.2);
  box-shadow: 0px 7.47298px 14.0118px rgba(52, 97, 226, 0.28);
  border-radius: 3.34123px;
}
body .hero-portfolio .container .col-img-hero {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 50%;
}
body .hero-portfolio .container .col-img-hero .img-hero {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
body .problem-statment {
  height: auto;
  background: #F6F9FE;
}
body .problem-statment .container .col-img-pb {
  width: 54, 2%;
}
body .problem-statment .container .col-img-pb .images-pattern {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
body .problem-statment .container .col-img-pb .images-pattern .pattern {
  position: absolute;
  width: 323px;
  height: 507px;
}
body .problem-statment .container .col-img-pb .images-pattern .big-img {
  position: relative;
  left: 50px;
  top: 167px;
}
body .problem-statment .container .col-img-pb .images-pattern .small-img {
  position: relative;
  width: 219px;
  height: 349px;
  left: 240px;
  top: -100px;
}
body .problem-statment .container .col-text-pb {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
  width: 580.09px;
  height: auto;
}
body .problem-statment .container .col-text-pb p {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6825px;
  line-height: 25px;
  color: #000000;
}
body .analysis .container .col-text-analysis {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
  width: 580.09px;
  height: auto;
}
body .analysis .container .col-text-analysis p {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6825px;
  line-height: 25px;
  color: #000000;
}
body .analysis .container .col-img-analysis {
  width: 54, 2%;
  height: auto;
}
body .analysis .container .col-img-analysis .images-pattern {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
body .analysis .container .col-img-analysis .images-pattern .pattern-reverse {
  position: absolute;
  width: 323px;
  height: 507px;
}
body .analysis .container .col-img-analysis .images-pattern .big-img {
  position: relative;
  left: -60px;
  top: 167px;
}
body .analysis .container .col-img-analysis .images-pattern .small-img {
  position: relative;
  width: 219px;
  height: 349px;
  left: -240px;
  top: -100px;
}
body .solution {
  height: auto;
  background: #F6F9FE;
}
body .solution .container .col-text-solution {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
  width: 580.09px;
  height: auto;
}
body .solution .container .col-text-solution p {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6825px;
  line-height: 25px;
  color: #000000;
}
body .solution .container .col-img-solution {
  width: 54, 2%;
  height: auto;
}
body .solution .container .col-img-solution .images-pattern {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
body .solution .container .col-img-solution .images-pattern .pattern {
  position: absolute;
  width: 323px;
  height: 507px;
}
body .solution .container .col-img-solution .images-pattern .big-img {
  position: relative;
  width: 379.98px;
  height: 388.66px;
  left: 50px;
  top: 167px;
}
body .solution .container .col-img-solution .images-pattern .small-img {
  position: relative;
  width: 219px;
  height: 349px;
  left: 240px;
  top: -100px;
}
body .implementation {
  height: auto;
}
body .implementation .container .col-text-implement {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
  width: 580.09px;
  height: auto;
}
body .implementation .container .col-text-implement p {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6825px;
  line-height: 25px;
  color: #000000;
}
body .implementation .container .col-img-implement {
  width: 54, 2%;
  height: auto;
}
body .implementation .container .col-img-implement .images-pattern {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
body .implementation .container .col-img-implement .images-pattern .pattern-reverse {
  position: absolute;
  width: 323px;
  height: 507px;
}
body .implementation .container .col-img-implement .images-pattern .big-img {
  position: relative;
  width: 379.98px;
  height: 388.66px;
  left: -60px;
  top: 167px;
}
body .implementation .container .col-img-implement .images-pattern .small-img {
  position: relative;
  width: 219px;
  height: 349px;
  left: -240px;
  top: -100px;
}
body .results {
  height: auto;
  background: #F6F9FE;
}
body .results .container .col-img-result {
  width: 54, 2%;
  height: auto;
}
body .results .container .col-img-result .images-pattern {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
body .results .container .col-img-result .images-pattern .pattern {
  position: absolute;
  width: 323px;
  height: 507px;
}
body .results .container .col-img-result .images-pattern .big-img {
  position: relative;
  width: 379.98px;
  height: 388.66px;
  left: 50px;
  top: 167px;
}
body .results .container .col-img-result .images-pattern .small-img {
  position: relative;
  width: 219px;
  height: 349px;
  left: 240px;
  top: -100px;
}
body .results .container .col-text-result {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
  width: 580.09px;
  height: auto;
}
body .results .container .col-text-result p {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6825px;
  line-height: 25px;
  color: #000000;
}
body .project {
  padding: 100px 138px;
  height: auto;
}
body .project .container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #2A2D7C;
  padding: 87px 0px;
  border-radius: 4px;
}
body .project .container h1 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 66px;
  color: #F6F9FE;
}
body .project .container p {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
body .project .container .btn-white {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11.2095px 23.3531px;
  gap: 4.67px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18.6825px;
  line-height: 22px;
  background-color: white;
  color: #2A2D7C;
  border: 0.934123px solid rgba(52, 97, 226, 0.2);
  box-shadow: 0px 7.47298px 14.0118px rgba(52, 97, 226, 0.28);
  border-radius: 9.34123px;
  margin: auto;
}/*# sourceMappingURL=portfolio.css.map */