$primary-color: #2A2D7C;
$secondary-color: #4365AF;
$primary-color-fade: #2a2d7c10;
$whitesmoke: #f6f9fe;
$tex-color: #3d3d3d;
$border-radius: 2px;

body {
    background-color: $whitesmoke;
}

.header {
    background-color: whitesmoke;

    .container {
        .nav-header {
            .brand {
                .blue-logo {
                    display: block;
                }

                .white-logo {
                    display: none;
                }
            }

            .nav-menu {
                .links {
                    .link {
                        .nav-link {
                            color: $primary-color;
                        }
                    }
                }
            }

        }
    }
}

.software-dev-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50vh;
    padding-bottom: 100px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 150px;

        .row {
            .col {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 24px;

            }

            .hero-img-col {
                .hero-img {
                    .big-hero-img {
                        width: 68%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                }
            }


        }

        .what-we-do {
            max-width: 100%;
        }

        .services {
            align-items: start;

            .service {
                transition: linear 0.2s;
                margin-right: 20px;
                padding: 20px 0;


                .icon {
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #2a2d7c;
                    color: white;
                    border-radius: $border-radius;
                }

                &:hover {
                    margin: 0 20px 20px 0;
                    background-color: $secondary-color;
                    padding: 20px;
                    color: white;

                    .icon {
                        background-color: white;
                        color: $secondary-color;
                    }
                }

            }
        }

    }

}

.process {
    background-color: $primary-color;
    color: white;
    position: relative;
    padding-bottom: 100px;

    .cta {
        padding-top: 800px;
        padding-bottom: 200px;
        max-width: 100%;
        background: linear-gradient(180deg, rgba(42, 45, 124, 0.4) 44.53%, rgba(42, 45, 124, 1) 83.52%), url("/img/hero-img2.JPG");

        .container {
            display: grid;
            gap: 24px;

            .cta-text {
                max-width: 80%;
            }
        }

    }

    .container {
        .row {
            .col {
                .processes {
                    margin-top: 50px;
                    .process {
                        display: flex;
                        align-items: start;
                        gap: 24px;
                        height: 120px;

                        .number {
                            background-color: $whitesmoke;
                            color: $primary-color;
                            min-height: 40px;
                            min-width: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: $border-radius;

                        }
                    }
                }
            }
            .col {
                img {
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    width: 36%;
                }
            }
        }
    }
}

.projects-section {
    padding: 100px 0;
    .container {
        .projects {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 49% 49%;
            row-gap: 18px;
            justify-content:space-between;
        }
    }
}

@media screen and (max-width: 540px) {
    .software-dev-hero {
        padding: 150px 0;
        .container {
            .row {
                gap: 50px;
                .col {
                    width: 100%;
                    .heading {
                        width: 80%;
                        font-size: 28px;
                        margin-top: -40px;
                    }

                    .intro-text {
                        margin-top: 170px;
                        width: 70%;
                    }
                }
                flex-direction: column-reverse;
                .hero-img-col {
                    .hero-img {
                        .big-hero-img {
                            width: 100%;
                            right: -50px;
                            top: 60px;

                        }
                        .big-screen {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}