@media screen and (max-width: 540px) {
    //first section
    .description {
        .container {
            .row {
                flex-direction: column;

                .col {
                    width: 100%;
                }
                .col-description {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    //second section
    .mission {
      padding-top: 0;
        .container {
            .row {
              flex-direction: column-reverse;
              gap: 50px;
              .col {
                width: 100%;
              }
            }
        }
    }

    //third section
    .our-team {
      .team-bios {
        .overlay {
          padding: 0 20px;
          .popup {
            width: 100%;
          }
        }
      }
        .container {
            display: grid;
            flex-wrap: wrap;

            .row {
                display: grid;
                place-items: center;

                .col {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 940px) {
    .description {
        .container {
            .row {
                flex-direction: column;

                .col {
                    width: 100%;
                }
                .col-description {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}