*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  section{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
  
  .container{
    width: 100%;
    height: 100%;
   
    .row{
        display: flex;
        gap: 24px;
        height: 100vh;
        width: 100vw;
       
        .col{
            height: 100%;
        }
        .col-left{
          width: 50%;
          height: 100%;
          background-color:#2A2D7B;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 50px;
          img:first-child{
            width: 14rem;
            
          }
          img:last-child{
            width: 30rem;
          }
        }
        
        .col-form{
            width: 50%;
            height: 100%;
            
            .blue-logo {
              display: none;
            }
            
            h1{
             
                color: #2A2D7B;
            }

            .form-container {
              display: flex;
              flex-direction: column;
              gap: 12px;
              padding: 10rem 5rem;

              form {
  
                input
               {
                  border: 1px solid black;
                  font-family: 'Futura Book', sans-serif;
                 
    
                  &::placeholder {
                    font-size: 16px;
                  }
    
                  &:focus {
                    border: 1px solid black;
                  }
                }
                .names{
                  // gap: 14px;
                  display: flex;
                  gap: .4rem;
                }
  
                input[type="submit"] {
                  // width: 200px;
                  font-size: 18px;
                  background-color: #2A2D7B;
                  color: white;
                  border: 1px solid rgb(146, 65, 65);
      
                  &:hover {
                    background-color: white;
                    color:blue;
                  }
                }
                
              }
        }
    }
  }
  #form2{
  input
  {
     width: 100%;
     border: 1px solid black;
     font-family: 'Futura Book', sans-serif;
     padding: 1rem;
     border-radius: 5px;
     border: 1px solid #7F868C;
     outline: none;
  
     &::placeholder {
       font-size: 16px;
     }
  
     &:focus {
      //  border: 1px solid black;
       outline: none;
     }
   }
  
   #documents,
   #reference{
    display: none;
    flex-direction: column;
    gap: 2rem;
   }
   #general{
    display: flex;
    flex-direction: column;
    gap: 2rem;
   }
   button,#btnFinish{
    width: 6rem;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2A2D7B;
    color: white;
    border: none;
   }
  }}
}


//Mobile Styles

@media screen and (max-width: 1250px) {
  .application {
      .container {
          .row {

              .col-form {
                  width: 100%;

                  .names {
                      flex-direction: column;
                      gap: 24px;
                  }
              }
          }
      }
  }
}

@media screen and (max-width: 904px) {
  .application {
      .container {

          .row {
              .col-left {
                  display: none;
              }

              .col-form {

                  .form-container {
                      padding: 5rem 2rem;
                      .blue-logo {
                          display: block;
                          width: 10rem;

                      }

                      form {
                          .names {
                              flex-direction: column;
                              gap: 24px;

                              input {
                                  width: 100%;
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}

@media screen and (max-width: 540px) {
  .application {
      .container {
          .row {
              .col-form {
                  width: 100%;
                  height: auto;
              }
          }
      }
  }

}