.hero {
  background: linear-gradient(127.31deg, rgba(0, 0, 0, 0.68) 44.53%, rgba(0, 0, 0, 0) 83.52%), url("/img/hero-img2.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  max-width: 100%;
  color: white;
  padding-top: 40vh;
}
.hero .container {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.hero .hero-btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero .hero-btns .hero-btn1 {
  display: flex;
  align-items: center;
  gap: 9px;
}
.hero .hero-btns .hero-btn1 a {
  color: #f6f9fe;
  font-size: 17px;
  font-weight: bold;
  margin-left: 20px;
}
.hero .hero-btns .btn a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}
.hero .hero-btns .btn a img {
  max-width: 32px;
}
.hero .hero-btns .btn a span {
  text-decoration: underline;
  font-size: 24px;
  font-weight: lighter;
}

.services-section {
  margin-top: -15px;
}
.services-section .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.services-section .container .row .col {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #f6f9fe;
  margin-top: -30px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  width: 300px;
  height: 96px;
  padding: 35px 17px;
  transition: linear 0.3s;
}
.services-section .container .row .col i {
  font-size: 32px;
  color: #4365AF;
}
.services-section .container .row .col h3 {
  text-transform: capitalize;
}
.services-section .container .row .col:hover {
  background-color: #2A2D7C;
  color: white;
}
.services-section .container .row .col:hover i {
  color: white;
}

.about {
  border-radius: 2px;
  padding: 50px 0;
}
.about .container h1 {
  text-transform: capitalize;
  font-weight: bold;
}
.about .container .col {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about .container .col .row {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  border-radius: 10px;
}
.about .container .col .row .about-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}
.about .container .col .row h2 {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.about .container .col .row a {
  color: #2A2D7C;
  text-decoration: underline;
}

.services-details .container h1 {
  text-transform: capitalize;
  margin-bottom: 15px;
}
.services-details .container p {
  margin-bottom: 15px;
}
.services-details .container .col {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.services-details .container .col .row {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(42, 45, 124, 0.062745098);
  border-radius: 2px;
  padding: 30px;
  gap: 12px;
  max-width: 350px;
  transition: linear 0.3s;
}
.services-details .container .col .row .title-col {
  display: flex;
  align-items: center;
  gap: 25px;
}
.services-details .container .col .row .title-col i {
  font-size: 32px;
  color: #4365AF;
}
.services-details .container .col .row .title-col h2 {
  text-transform: capitalize;
  font-size: 20px;
}
.services-details .container .col .row:hover {
  background-color: #2A2D7C;
  color: white;
}
.services-details .container .col .row:hover i {
  color: white;
}

.partnership {
  padding-top: 50px;
}
.partnership .container .partnership-content {
  background-color: #2A2D7C;
  text-align: center;
  display: grid;
  justify-content: center;
  gap: 24px;
  background-color: #2A2D7C;
  border-radius: 2px;
  color: white;
  padding: 50px;
}
.partnership .container .partnership-content h1 {
  text-transform: capitalize;
}

.partners {
  padding-top: 50px;
}
.partners .container h1 {
  text-transform: capitalize;
  margin-bottom: 30px;
}
.partners .container .row {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
  gap: 20px;
}
.partners .container .row img {
  width: 100px;
}

.testimonials {
  display: none;
}
.testimonials .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials .container h2 {
  text-transform: capitalize;
}
.testimonials .container .testimonials-paragrah {
  font-size: 24px;
}

.avatar {
  width: 80px;
  border-radius: 2px;
}

.contacts {
  padding-top: 100px;
}
.contacts .container .contacts-heading {
  padding-bottom: 24px;
}
.contacts .container .col {
  margin-top: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 100px;
}
.contacts .container .col .row {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
}
.contacts .container .col .row .col-1 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.contacts .container .col .row .col-1 .row-1 {
  background-color: #f6f9fe;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 2px;
}
.contacts .container .col .row .col-1 .row-1 .office {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.contacts .container .col .row .col-1 .row-1 .office .office-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contacts .container .col .row .col-1 .row-1 .office .office-title .icon {
  font-size: 28px;
  color: #2A2D7C;
}
.contacts .container .col .row .col-1 .row-1 .office .office-title h3 {
  text-transform: capitalize;
}
.contacts .container .col .row .form-container {
  width: 100%;
}
.contacts .container .col .row .form-container .form {
  display: grid;
  gap: 8px;
}
.contacts .container .col .row .form-container .form input,
.contacts .container .col .row .form-container .form textarea {
  width: 100%;
  border: 1px solid #3d3d3d;
  font-family: "Futura Book", sans-serif;
}
.contacts .container .col .row .form-container .form input::-moz-placeholder, .contacts .container .col .row .form-container .form textarea::-moz-placeholder {
  font-size: 16px;
}
.contacts .container .col .row .form-container .form input::placeholder,
.contacts .container .col .row .form-container .form textarea::placeholder {
  font-size: 16px;
}
.contacts .container .col .row .form-container .form input:focus,
.contacts .container .col .row .form-container .form textarea:focus {
  border: 1px solid #2A2D7C;
}
.contacts .container .col .row .form-container input[type=submit] {
  width: 200px;
  font-size: 18px;
  background-color: #2A2D7C;
  color: white;
  border: 1px solid #2A2D7C;
}
.contacts .container .col .row .form-container input[type=submit]:hover {
  background-color: white;
  color: #2A2D7C;
}
.contacts .container .col .row .form-container .submit-btn {
  border-radius: 2px;
  background-color: #2A2D7C;
  color: #f6f9fe;
  border: transparent;
  width: 201px;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.contacts .container .col .row .form-container .submit-btn a {
  color: #f6f9fe;
  text-transform: capitalize;
}
.contacts .container .location {
  padding: 50px 0;
}

.slider-container {
  width: 100%;
  position: relative;
  text-align: center;
}
.slider-container .slider {
  display: flex;
  gap: 15px;
  overflow: hidden;
  transition: transform 0.5s;
}
.slider-container .slider .card {
  position: relative;
  width: 20vw;
  height: 320px;
  border-radius: 2px;
  background-color: rgba(42, 45, 124, 0.062745098);
}
.slider-container .slider .card .customer-testimonial {
  padding: 20px 20px 50px 20px;
}
.slider-container .slider .card .customer-profile {
  background-color: #2A2D7C;
  border-radius: 0 0 2px 2px;
  color: white;
  margin-top: 50;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 20px 20px 20px;
}
.slider-container .slider .card .customer-profile img {
  height: 80px;
  width: 80px;
  position: absolute;
  top: -40px;
  right: 35%;
}
.slider-container .slider .card .customer-profile .profile .name {
  font-size: 20px;
  font-weight: bold;
}
.slider-container .slider .card .customer-profile .profile .position {
  font-size: 16px;
  font-weight: lighter;
}
.slider-container .prev-btn,
.slider-container .next-btn {
  position: absolute;
  top: 50%;
  font-size: 32px;
  color: #2A2D7C;
}
.slider-container .prev-btn {
  left: -30px;
}
.slider-container .next-btn {
  right: -30px;
}/*# sourceMappingURL=index.css.map */