$primary-color: #2A2D7C;
$secondary-color: #4365AF;
$primary-color-fade: #2a2d7c10;
$whitesmoke: #f6f9fe;
$tex-color: #3d3d3d;
$border-radius: 2px;


@media screen and (max-width: 1200px) {
    .hero-social-media {
      .container {
        .social-media {
          .twitter {
            top: 80vh;
          }
  
          .instagram {
            top: 50vh
          }
  
          .youtube {
            top: 65vh;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 950px) {
    .hero-social-media {
      padding-top: 200px;
      .container {
        .row {
          .hero-heading {
            font-size: 32px;
          }
        }
        .social-media {
          .twitter {
            top: 80vh;
          }
  
          .instagram {
            top: 50vh
          }
  
          .youtube {
            top: 65vh;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 760px) {
    .hero-social-media {
      padding-top: 200px;
      .container {
        .row {
          .hero-heading {
            font-size: 32px;
          }
        }
        .social-media {
          display: grid;
          gap: 12px;
          .twitter, .instagram, .youtube, .linkedin, .facebook {
            position: relative;
            left: 50vw;
            top: -450px;
          }
          img {
            width: 34px;
            height: 34px;
          }
        }
      }
    }
  
    .social-media-services {
      padding: 0;
  
      .container {
        .row {
          grid-template-columns: 47% 47%;
          row-gap: 32px;
        }
      }
    }
  
    .social-media-section {
      padding: 250px 0 50px 0;
    }
    .pattern {
      display: none;
    }
  }
  
  
  @media screen and (max-width: 540px) {
    .hero-social-media {
      padding-top: 15vh;
      .container {
        position: relative;
        .row {
          flex-direction: column;
          gap: 50px;
          .col {
            width: 100%;
    
            img {
              position: relative;
              width: 100%;
              top: 0;
              right: -20px;
            }
          }
        }
        .social-media {
          display: grid;
          gap: 12px;
          position: absolute;
          bottom: 160px;
          .facebook, .linkedin, .youtube, .instagram, .twitter{
            position: relative;
            left: 0;
            top: 0;
            width: 32px;
            height: auto;
          }
        }
    
        .pattern {
          display: none;
        }
      }
    
    }
    .social-media-services {
      padding-top: 50px;
  
      .container {
        .row {
          margin-top: 50px;
          grid-template-columns: 100%;
          gap: 32px;
  
          .col {
            margin: 0;
            background-color: rgba(52, 97, 226, 0.13);
            padding: 30px;
  
            &:hover {
              margin: 0;
              padding: 30px;
              background-color: white;
            }
          }
        }
      }
    }
  
    .social-media-section {
      padding: 50px 0;
      .container {
        .row {
          flex-direction: column-reverse;
          gap: 50px;
          .col {
            width: 100%;
          }
        }
      }
    }
  }
  