@media screen and (max-width: 1200px) {
  .hero-social-media .container .social-media .twitter {
    top: 80vh;
  }
  .hero-social-media .container .social-media .instagram {
    top: 50vh;
  }
  .hero-social-media .container .social-media .youtube {
    top: 65vh;
  }
}
@media screen and (max-width: 950px) {
  .hero-social-media {
    padding-top: 200px;
  }
  .hero-social-media .container .row .hero-heading {
    font-size: 32px;
  }
  .hero-social-media .container .social-media .twitter {
    top: 80vh;
  }
  .hero-social-media .container .social-media .instagram {
    top: 50vh;
  }
  .hero-social-media .container .social-media .youtube {
    top: 65vh;
  }
}
@media screen and (max-width: 760px) {
  .hero-social-media {
    padding-top: 200px;
  }
  .hero-social-media .container .row .hero-heading {
    font-size: 32px;
  }
  .hero-social-media .container .social-media {
    display: grid;
    gap: 12px;
  }
  .hero-social-media .container .social-media .twitter, .hero-social-media .container .social-media .instagram, .hero-social-media .container .social-media .youtube, .hero-social-media .container .social-media .linkedin, .hero-social-media .container .social-media .facebook {
    position: relative;
    left: 50vw;
    top: -450px;
  }
  .hero-social-media .container .social-media img {
    width: 34px;
    height: 34px;
  }
  .social-media-services {
    padding: 0;
  }
  .social-media-services .container .row {
    grid-template-columns: 47% 47%;
    row-gap: 32px;
  }
  .social-media-section {
    padding: 250px 0 50px 0;
  }
  .pattern {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .hero-social-media {
    padding-top: 15vh;
  }
  .hero-social-media .container {
    position: relative;
  }
  .hero-social-media .container .row {
    flex-direction: column;
    gap: 50px;
  }
  .hero-social-media .container .row .col {
    width: 100%;
  }
  .hero-social-media .container .row .col img {
    position: relative;
    width: 100%;
    top: 0;
    right: -20px;
  }
  .hero-social-media .container .social-media {
    display: grid;
    gap: 12px;
    position: absolute;
    bottom: 160px;
  }
  .hero-social-media .container .social-media .facebook, .hero-social-media .container .social-media .linkedin, .hero-social-media .container .social-media .youtube, .hero-social-media .container .social-media .instagram, .hero-social-media .container .social-media .twitter {
    position: relative;
    left: 0;
    top: 0;
    width: 32px;
    height: auto;
  }
  .hero-social-media .container .pattern {
    display: none;
  }
  .social-media-services {
    padding-top: 50px;
  }
  .social-media-services .container .row {
    margin-top: 50px;
    grid-template-columns: 100%;
    gap: 32px;
  }
  .social-media-services .container .row .col {
    margin: 0;
    background-color: rgba(52, 97, 226, 0.13);
    padding: 30px;
  }
  .social-media-services .container .row .col:hover {
    margin: 0;
    padding: 30px;
    background-color: white;
  }
  .social-media-section {
    padding: 50px 0;
  }
  .social-media-section .container .row {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .social-media-section .container .row .col {
    width: 100%;
  }
}/*# sourceMappingURL=mobile.css.map */