$primary-color: #2A2D7C;
$secondary-color: #4365AF;
$primary-color-fade: #2a2d7c10;
$whitesmoke: #f6f9fe;
$tex-color: #3d3d3d;
$border-radius: 2px;


.header {
  background-color: whitesmoke;

  .container {
      .nav-header {
          .brand {
              .blue-logo {
                  display: block;
              }

              .white-logo {
                  display: none;
              }
          }

          .nav-menu {
              .links {
                  .link {
                      .nav-link {
                          color: $primary-color;
                      }
                  }
              }
          }

      }
  }
}


//SOCIAL MEDIA WEB PAGE

.hero-social-media {
  background-color: #F6F9FE;
  padding-top: 40vh;
  color: #2A2D7C;
  text-align: start;
  position: relative;

  .container {
    .row {
      gap: 24px;
      .col-social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
      }
      .col {
        img {
          position: absolute;
          width: 40%;
          right: 0;
          top: 190px;

        }

        .btn-social:hover {
          background-color: white;
          color: $primary-color;
          border: $primary-color solid 2px;
        }

      }
    }

    .social-media {
      cursor: pointer;

      #spin:hover {
        animation: bounce 0.9s linear;

      }

      @keyframes bounce {

        0%,
        100% {
          transform: translateY(0);
        }
        60% {
          transform: translateY(-4px);
        }
      }
      img {
        width: 50px;
        height: 50px;
      }

      .facebook {
        position: absolute;
        top: 24vh;
        left: 63vw;
      }

      .linkedin {
        position: absolute;
        top: 38vh;
        left: 60vw;
      }

      .instagram {
        position: absolute;
        top: 56vh;
        left: 58vw;
      }

      .youtube {
        position: absolute;
        top: 72vh;
        left: 55vw;
      }

      .twitter {
        position: absolute;
        top: 90vh;
        left: 50vw;
      }

    }

    .pattern {
      position: absolute;
      width: 267px;
      height: 311px;
      left: 0px;
      top: 620px;
    }
  }

}


.social-media-services {
  background-color: $whitesmoke;
  padding-top: 350px;
  .container {
    .row {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      align-items: start;
      gap: 5%;
      .col {
        width: 100%;
        gap: 24px;
        border-radius: $border-radius;
        margin: 24px 0;
        display: grid;
        gap: 24px;
        &:hover {
          margin: 0;
          padding: 24px;
          margin-right: 24px;
          background-color: rgba(52, 97, 226, 0.13);
          transition: 0.3s;
          border-radius: $border-radius;
          color: $tex-color;
          
        }
      }
    }
  }
}

.social-media-section {
  background-color: #F6F9FE;
  padding: 150px 0 50px 0;

  .container {
    .row {
      gap: 96px;

    }
  }
}
