@media screen and (max-width: 740px) {
    .blog-header {
        padding-top: 20px;
        .container {
            flex-direction: column-reverse;
            .col {
                .blog-title {
                    font-size: 24px;
                }
                .meta {
                    .meta-item {
                        a {
                            gap: 5px;
                            img {
                                width: 22px;
                            }
                        }
                    }
                }
            }
        }
    }

    .blog-content {
        padding-top: 20px;
        padding-bottom:20px;
        
        .container {
            flex-direction: column;
            .content {
                width: 100%;
            }
            .side-bar {
                display: none
            };
        }
        
        
    }
}