$primary-color: #2A2D7C;
$secondary-color: #4365AF;
$primary-color-fade: #2a2d7c10;
$whitesmoke: #f6f9fe;
$tex-color: #3d3d3d;
$border-radius: 2px;

.blog-header {
    padding-top: 150px;
  
    .container {
      .row {
        .col {
          .blog-title {
            font-size: 32px;
          }
  
          .meta {
            display: flex;
            flex-direction: column;
            gap: 15px;
  
            .meta-item {
              a {
                display: flex;
                align-items: center;
                gap: 15px;
  
                img {
                  width: 32px;
                  border-radius: 0;
                }
              }
            }
          }
        }
  
        .featured-image {
          img {
            border-radius: $border-radius;
          }
        }
      }
    }
  }
  
  .blog-content {
    padding-bottom: 80px;
    align-items: flex-start;
    position: relative;
  
    .container {
      position: relative;
      align-items: flex-start;
  
      .row {
        align-items: flex-start;
        gap: 20px;
  
        .content {
          width: 70%;
          background-color: $whitesmoke;
          padding: 20px;
          border-radius: $border-radius;
        }
  
        .side-bar {
          width: 30%;
          background-color: $whitesmoke;
          padding: 20px;
          border-radius: $border-radius;
          display: flex;
          flex-direction: column;
          gap: 30px;
          position: sticky;
          top: 90px;
  
          .services {
            display: flex;
            flex-direction: column;
            gap: 20px;
  
            a {
              .service {
                display: flex;
                align-items: center;
                padding: 20px;
                background-color: white;
                border-radius: $border-radius;
                gap: 15px;
  
                img {
                  width: 42px;
                  border-radius: 0;
                }
  
                p {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }